<!DOCTYPE html>
<html ng-app="SnippyApp">
<head>
    <title>Snippy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body ng-controller="SnippyController">
<div class="container">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h2>Snippy</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">Text</a></li>
                <li><a href="#2" data-toggle="tab">File</a></li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="1">
                    <form role="form" ng-submit="textResults()">
                        <div class="form-group">
                            <textarea rows="10" class="form-control" placeholder="Input snippet..."
                                      style="max-width: 400px;" ng-model="textSnippet" required></textarea>
                        </div>
                        {% raw %}
                        <button type="submit" class="btn btn-primary" ng-disabled="loading || !textSnippet">
                            {{loading ? 'Loading...' : 'Submit'}}
                        </button>
                        {% endraw %}
                    </form>
                </div>
                <div class="tab-pane" id="2">
                    <form role="form" ng-submit="fileResults()">
                        <div class="form-group">
                            <textarea rows="10" class="form-control" ng-show="fileSnippet"
                                      style="max-width: 400px;" ng-model="fileSnippet" disabled></textarea>
                            <input type="file" multiple onchange="angular.element(this).scope().readFile(this)">
                        </div>
                        {% raw %}
                        <button type="submit" class="btn btn-primary" ng-disabled="loading || !fileSnippet">
                            {{loading ? 'Loading...' : 'Submit'}}
                        </button>
                        {% endraw %}
                    </form>
                </div>
            </div>
            <br>
        </div>
        <div class="col-sm-5 col-sm-offset-1" ng-show="results">
            <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static', filename='spinner.gif') }}"
                 ng-show="loading">
            <div id="intents" ng-show="results.intents">
                <h2>Intents</h2>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% raw %}
                    <tr ng-repeat="i in results.intents">
                        <td>{{i.name}}</td>
                        <td>{{i.score}}</td>
                    </tr>
                    {% endraw %}
                    </tbody>
                </table>
            </div>
            <div id="entities" ng-show="results.intents">
                <h2>Entities</h2>
                <br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% raw %}
                    <tr ng-repeat="e in results.entities">
                        <td>{{e.name}}</td>
                        <td>{{e.score}}</td>
                    </tr>
                    {% endraw %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br><br>
<!-- scripts -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>